<!DOCTYPE html>
<html>
  <head>
    <title>E/IO</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" />
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <a class="navbar-brand scroll" href="#bio" style="float: right;">Hi. I'm Emmanuel.</a>
      <ul class="nav navbar-nav">
      </ul>
    </nav>
    <div class="container">
      <div class="content">

        <section id="interface">
          <form action="http://localhost:8765/records/example" style="padding: 100px 0 100px 0">
            Search term:<br>
            <input type="text" name="example">
            <input type="submit" value="Submit"> 
          </form>
        </section>

      </div>
    </div>

    <footer class="footer" id="footer">
      <div class="container">
        <p class="text-muted">Hand-crafted by me &copy;2016&nbsp; | &nbsp;<em>Radiative Transfer is a thing that happens.</em></p>
      </div>
    </footer>
  </body>
</html>
