<!DOCTYPE html>
<html>
  <head>
    <title>E/IO</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <a class="navbar-brand scroll" href="#bio" style="float: right;">Hi. I'm Emmanuel.</a>
      <ul class="nav navbar-nav">
      </ul>
    </nav>
    <div class="container">
      <div class="content">
        <section id="instructions" style="padding: 100px 0 50px 0; width: 50%">
          Below, a list will be populated with the Records in the RecordStore. Use the radio button list on the left to order them. Form submissions will be added to the list. For now, until form validation is in place, the form must be filled out in full.
        </section>

        <section id="interface-sort" style="float: left; width: 50%">
          <form>
            <input type="radio" name="sortBy" value="gender"> Gender<br>
            <input type="radio" name="sortBy" value="name"> Name<br>
            <input type="radio" name="sortBy" value="birthdate"> Birthdate
          </form> 
          <br>
          <div id=record-store>
            <ul></ul>
          </div>
        </section>

        <section id="interface-add" style="float: right">
          <form action="http://localhost:8765/records/add" method="POST">
            Last Name:<br>
            <input type="add" name="LastName">
            <br>First Name:<br>
            <input type="add" name="FirstName">
            <br>Gender:<br>
            <input type="add" name="Gender">
            <br>Favorite Color:<br>
            <input type="add" name="FavoriteColor">
            <br>Birthday:<br>
            <input type="add" name="DateOfBirth">
            <input type="submit" value="Submit"> 
          </form>
        </section>

      </div>
    </div>

    <footer class="footer" id="footer">
      <div class="container">
        <p class="text-muted">Hand-crafted by me &copy;2016&nbsp; | &nbsp;<em>Radiative Transfer is a thing that happens.</em></p>
      </div>
    </footer>

    <script>
      $(document).ready(function() {
        $.ajax({
          url:      'http://localhost:8765/records',
          type:     'GET',
          success:  function(response) {
            $('#record-store ul').empty()
            $.each(response, function(i, item) {
              $('#record-store ul').append('<li>' + JSON.stringify(item) + '</li>')
            })
          }
        })
      })
      $('#interface-sort form').on('change', function(e) { 
        e.preventDefault()
        endpoint = $('input:checked', this).attr('value')
        $.ajax({
          url:      'http://localhost:8765/records/' + endpoint,
          type:     'GET',
          success:  function(response) {
            $('#record-store ul').empty()
            $.each(response, function(i, item) {
              $('#record-store ul').append('<li>' + JSON.stringify(item) + '</li>')
            })
          }
        })
      }) 
      $('#interface-add form').on('submit', function(e) { 
        e.preventDefault()
        var that = this
        var new_record_data = $('#interface-add form').serializeArray().map(function(item){return item['value']}).join(',')
        $.ajax({
          url:      'http://localhost:8765/records/add',
          type:     'POST',
          data:     {add: new_record_data},
          success:  function(response) {
            $('#record-store ul').empty()
            $.each(response, function(i, item) {
              $('#record-store ul').append('<li>' + JSON.stringify(item) + '</li>')
            })
            that.reset()
          }
        })
      }) 
    </script>
  </body>
</html>
